html,
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #d0d0fd;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  background-color: #222;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  flex-shrink: 0;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px solid #333;
}

#controls button {
  background-color: #333;
  color: #ccc;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

#controls button:hover {
  background-color: #444;
}

#page-info {
  margin: 0 10px;
}

#viewer-container {
  flex: 1;
  /* width: 100%; */
  overflow: auto;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-wrapper {
  position: relative;
}

.page-wrapper canvas {
  position: relative;
  /* margin: 10px 0; */
  background-color: white;
  /* box-shadow: 10px 0 20px rgba(200, 0, 0, 1); */
  z-index: 0;
}

.annotationLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* margin: 10px 0; */
  pointer-events: none;
  z-index: 10;
}

.annotationLayer a {
  pointer-events: auto;
  position: absolute;
  background-color: transparent;
  text-decoration: none;
}

.annotationLayer a:hover {
  outline: 1px dashed rgba(0, 0, 255, 0.3);
}

.textLayer {
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 5;
  user-select: text;
  -webkit-user-select: text;
}

.textLayer span {
  position: absolute;
  white-space: pre;
  transform-origin: 0 0;
  line-height: 1;
  user-select: text;
  -webkit-user-select: text;
  color: transparent;
  background: none;
  padding: 0;
  margin: 0;
}
