body.night-mode {
  background: rgba(46, 48, 53, 1);
}

/* invert color */
body.night-mode .page-wrapper canvas {
  filter: invert(1) hue-rotate(75deg) brightness(1.1) contrast(0.9);
}

body.night-mode .page-wrapper {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

body.night-mode .page-num {
  color: #888;
}

/*******************/
/* citation popup */
body.night-mode .citation-popup {
  background: rgba(30, 30, 30, 0.9);
  color: #ddd;
  box-shadow:
    0 10px 45px 0px rgba(255, 255, 255, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0.5),
    inset 0 5px 20px rgba(0, 0, 0, 0.5);
}

body.night-mode .citation-popup-toggle {
  background: #333;
  border-color: #444;
  color: #aaa;
}

body.night-mode .citation-popup-toggle:hover {
  background: #444;
  color: #ddd;
}

/*******************/
/* panel controls */
.night-mode .pane-controls {
  background: rgba(40, 40, 40, 0.85);
  box-shadow:
    0 2px 12px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0px -2px 10px 1px rgba(255, 255, 255, 0.1);
}

.night-mode .pane-controls-inner {
  color: #e0e0e0;
}

.night-mode .pane-btn {
  color: #aaa;
}

.night-mode .pane-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.night-mode .viewer-pane.active .pane-controls {
  box-shadow:
    0 2px 12px rgba(0, 0, 0, 0.2),
    0 0 0 1px rgba(0, 0, 0, 0.05),
    inset 0 0 4px 2px rgba(219, 147, 52, 0.8);
}

/******************/
/* floating ball */

body.night-mode .goo-container::before {
  filter: url(#goo) drop-shadow(0 0.3em 0.1em #00000099)
    drop-shadow(0 -0.05em 1em #ffffff4d);
  background-image:
    radial-gradient(
      ellipse 50% 50% at 75% 85%,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 45%
    ),
    linear-gradient(
      140deg,
      rgba(200, 200, 200, 0.4) 20%,
      rgba(120, 120, 120, 0.5) 45%,
      rgba(230, 230, 230, 0.5) 90%
    ),
    radial-gradient(
      30px 30px at calc(var(--x) * 1%) calc(var(--y) * 1%),
      rgba(200, 200, 200, var(--goo-opacity)) 0%,
      transparent 100%
    );
  background-clip: content-box, content-box, border-box;
}

.page-display.night-mode {
  filter: invert(1);
}

.tool-btn.night-mode {
  background: linear-gradient(
    135deg,
    rgba(130, 130, 130, 0.8) 18%,
    rgba(150, 150, 150, 0.8) 65%,
    rgba(250, 250, 250, 0.8) 90%
  );
  box-shadow:
    inset -2px -2px 2px 1px #00000099,
    inset 1px 1px 2px 1px #00000099,
    0 3px 5px 2px #ffffff10,
    0 0 10px 2px #ffffff05;
}

.inner.night-mode {
  filter: invert(1);
}

/***************/
/* jump-indicators */
.night-mode .jump-indicator {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
}

.night-mode .jump-indicator.active {
  background: rgba(100, 150, 255, 0.3);
  border-color: rgba(100, 150, 255, 0.5);
}
